<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>UBS Valorem - Sistema Integrado</title>
            <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
            <link rel="stylesheet" href="css/style.css"/>
            <link rel="shortcut icon" href="images/logoSmall.png"/>
            <link rel="stylesheet" href="/lib/font/css/font-awesome.min.css">

        {% endblock %}

    </head>
    <body>

        <div class=" container-scroller">
            <!--Navbar-->
            <nav class="navbar bg col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row"  style="background-color: #006c3a" >
                <div class="bg-white text-center navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="/sas/public_html/"><img src="images/logo.jpg" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/sas/public_html/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #006c3a" >
                    <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>

                    <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>
                </div>
            </nav>
            <!--End navbar-->
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-right">
                    <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                        <div class="user-info">
                            <img src="images/user.png" alt="">
                            <p class="name">{{user.nome}}</p>
                            <p class="designation">{{user.funcao}}</p>
                            <p class="designation"><a href="/removerUsuario" style="text-decoration: none;color: #000"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                    sair</a></p>

                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link " href="/sas/public_html/">
                                    <!-- <i class="fa fa-dashboard"></i> -->
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link " href="/sas/public_html/agendamento">
                                    <i class="fa fa-calendar fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Agendamento de Salas</span>
                                </a>
                            </li>
                            {% if user.tipo == 1 %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/sas/public_html/controleUsuario">
                                        <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Usuário</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/sas/public_html/controleSala">
                                        <i class="fa fa-building fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Sala</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/sas/public_html/controlePerfil">
                                    <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- SIDEBAR ENDS -->


                    <div class="content-wrapper">
                        <h3 class="text mb-4" style="color: #006c3a" >Agendamento</h3>

                        <div class="col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">

                            {% if agenda != null %}
                                <br>
                                <center><p style="font-size: 15px">Agendamento (s) já realizados para essa data</p></center>

                                <table class=" table table-bordered">
                                    <thead style="background-color: #00262c;color: #FFF">
                                        <tr>
                                            <th><center>Agendado por:</center></th>
                                    <th><center>Para</center></th>
                                    <th><center>Hora Início</center></th>
                                    <th><center>Hora Término</center></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for dado in agenda %}
                                            <tr>       
                                                <td><center>{{dado.nome}}</center></td>
                                        <td><center>{{dado.para}}</center></td>

                                        <td><center>{{dado.horaInicio}}</center></td>
                                        <td><center>{{dado.horaTermino}}</center></td>


                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <hr>
                                <center>Na data escolhida a sala <b>{{sala.descricao}}</b> que fica no setor <b>{{sala.setor}}</b> está sem nenhum agendamento!</center>
                                <hr>
                            {% endif %}
                            <center><h4 class="text mb-1" style="color: #000" >Informações para agendamento</h4></center>

                            <div id="avisoHoraMaior"></div>
                            <div id="avisoHoraNao"></div>

                            <br>
                            <form  id="form"    name="form" class="form" method="POST" enctype="multipart/form-data" >
                                <label for="dataE">Data escolhida:</label>
                                <input id="dataE" name="dataE" class="form-control" type="text" readonly="" value="{{data}}"/>
                                <input id="idSala" name="idSala" class="form-control" type="hidden" readonly="" value="{{sala.idSala}}"/>
                                <label for="para">Para:</label>
                                <input id="para" name="para" autofocus="" class="form-control" type="text" />
                                <label for="dataE" style="padding-top: 15px">Horário de Início</label>
                                <table >
                                    <thead>
                                        <tr>
                                            <th> <select name='horaInicio' id="horaInicio" class="form-control">
                                                    <option value="01">01</option><option value="02">02</option><option value="03">03</option>
                                                    <option value="04">04</option><option value="05">05</option><option value="06">06</option>
                                                    <option value="07">07</option><option value="08">08</option><option value="09">09</option>
                                                    <option value="10">10</option><option value="11">11</option><option value="12" >12</option>
                                                    <option value="13">13</option><option value="14">14</option><option value="15">15</option>
                                                    <option value="16">16</option><option value="17">17</option><option value="18">18</option>
                                                    <option value="19">19</option><option value="20">20</option><option value="21">21</option>
                                                    <option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                                </select></th>
                                            <th> 
                                                :
                                            </th>
                                            <th> <select name='minutosInicio' id="minutosInicio" class="form-control">
                                                    <option value="00">00</option><option value="01">01</option><option value="02">02</option><option value="03">03</option>
                                                    <option value="04">04</option><option value="05">05</option><option value="06">06</option>
                                                    <option value="07">07</option><option value="08">08</option><option value="09">09</option>
                                                    <option value="10">10</option><option value="11">11</option><option value="12">12</option>
                                                    <option value="13">13</option><option value="14">14</option><option value="15">15</option>
                                                    <option value="16">16</option><option value="17">17</option><option value="18">18</option>
                                                    <option value="19">19</option><option value="20">20</option><option value="21">21</option>
                                                    <option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                                    <option value="25">25</option><option value="26">26</option><option value="27">27</option>
                                                    <option value="28">28</option><option value="29">29</option><option value="30">30</option>
                                                    <option value="31">31</option><option value="32">32</option><option value="33">33</option>
                                                    <option value="34">33</option><option value="35">35</option><option value="36">36</option>
                                                    <option value="37">36</option><option value="38">38</option><option value="39">39</option>
                                                    <option value="40">40</option><option value="41">41</option><option value="42">42</option>
                                                    <option value="43">43</option><option value="44">44</option><option value="45">45</option>
                                                    <option value="46">43</option><option value="47">47</option><option value="48">48</option>
                                                    <option value="49">49</option><option value="50">50</option><option value="51">51</option>
                                                    <option value="52">52</option><option value="53">53</option><option value="54">54</option>
                                                    <option value="55">55</option><option value="56">56</option><option value="57">57</option>
                                                    <option value="58">58</option><option value="59">59</option>
                                                </select></th>
                                            </select></th>

                                        </tr>
                                    </thead>

                                </table>

                                <label for="dataE" style="padding-top: 15px">Horário Término</label>
                                <table >
                                    <thead>
                                        <tr>
                                            <th> <select name='horaTermino' id="horaTermino" class="form-control">
                                                    <option value="01">01</option><option value="02">02</option><option value="03">03</option>
                                                    <option value="04">04</option><option value="05">05</option><option value="06">06</option>
                                                    <option value="07">07</option><option value="08">08</option><option value="09">09</option>
                                                    <option value="10">10</option><option value="11">11</option><option value="12">12</option>
                                                    <option value="13" selected="">13</option><option value="14">14</option><option value="15">15</option>
                                                    <option value="16">16</option><option value="17">17</option><option value="18">18</option>
                                                    <option value="19">19</option><option value="20">20</option><option value="21">21</option>
                                                    <option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                                </select></th>
                                            <th> 
                                                :
                                            </th>
                                            <th> <select name='minutosTermino' id="minutosTermino" class="form-control">
                                                    <option value="00" selected="">00</option><option value="01">01</option><option value="02">02</option><option value="03">03</option>
                                                    <option value="04">04</option><option value="05">05</option><option value="06">06</option>
                                                    <option value="07">07</option><option value="08">08</option><option value="09">09</option>
                                                    <option value="10">10</option><option value="11">11</option><option value="12">12</option>
                                                    <option value="13">13</option><option value="14">14</option><option value="15">15</option>
                                                    <option value="16">16</option><option value="17">17</option><option value="18">18</option>
                                                    <option value="19">19</option><option value="20">20</option><option value="21">21</option>
                                                    <option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                                    <option value="25">25</option><option value="26">26</option><option value="27">27</option>
                                                    <option value="28">28</option><option value="29">29</option><option value="30">30</option>
                                                    <option value="31">31</option><option value="32">32</option><option value="33">33</option>
                                                    <option value="34">33</option><option value="35">35</option><option value="36">36</option>
                                                    <option value="37">36</option><option value="38">38</option><option value="39">39</option>
                                                    <option value="40">40</option><option value="41">41</option><option value="42">42</option>
                                                    <option value="43">43</option><option value="44">44</option><option value="45">45</option>
                                                    <option value="46">43</option><option value="47">47</option><option value="48">48</option>
                                                    <option value="49">49</option><option value="50">50</option><option value="51">51</option>
                                                    <option value="52">52</option><option value="53">53</option><option value="54">54</option>
                                                    <option value="55">55</option><option value="56">56</option><option value="57">57</option>
                                                    <option value="58">58</option><option value="59">59</option>
                                                </select></th>
                                        </tr>
                                    </thead>
                                </table>
                                <button type="submit" class="col-md-12 btn btn-success" style="margin-top: 20px;">Realizar Agendamento</button>
                            </form>   
                        </div>

                    </div>
                    <div class="modal fade" id="sucesso" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Agendamento realizado com sucesso!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <center><a class="btn btn-primary text-center" href="/sas/public_html/agendamento">OK</a></center>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="footer">


                        <footer class="footer">
                            <div class="container-fluid clearfix">
                                <span class="float-right">
                                    <a href="#">UBS Valorem</a> &copy; 2017
                                </span>
                            </div>
                        </footer>
                    </div>
                </div>

            </div>
            <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>

            <script src="node_modules/jquery/dist/jquery.min.js"></script>
            <script src="node_modules/tether/dist/js/tether.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="node_modules/chart.js/dist/Chart.min.js"></script>
            <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
            <script src="js/off-canvas.js"></script>
            <script src="js/hoverable-collapse.js"></script>
            <script src="js/misc.js"></script>
            <script src="js/chart.js"></script>
            <script src="js/maps.js"></script>

            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/popper/popper.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
            <script src="js/cadastroAgendamento.js"></script>



    </body>

</html>
