<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>UBS Valorem - Sistema Integrado</title>
            <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
            <link rel="stylesheet" href="css/style.css"/>
            <link rel="shortcut icon" href="images/logoSmall.png"/>
            <link rel="stylesheet" href="/lib/font/css/font-awesome.min.css">

        {% endblock %}

        <script type="text/javascript" language="Javascript">
            function confirmacao(id) {
                var resposta = confirm("Deseja cancelar o agendamento?");
                if (resposta == true) {

                    window.location.assign("/sas/public_html/cancelarAgendamento/" + id);
                }
            }

        </script>

    </head>
    <body>

        <div class=" container-scroller">
            <!--Navbar-->
            <nav class="navbar bg col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row"  style="background-color: #006c3a" >
                <div class="bg-white text-center navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="/sas/public_html/"><img src="images/logo.jpg" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/sas/public_html/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #006c3a" >
                    <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>

                    <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>
                </div>
            </nav>
            <!--End navbar-->
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-right">
                    <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                        <div class="user-info">
                            <img src="images/user.png" alt="">
                            <p class="name">{{user.nome}}</p>
                            <p class="designation">{{user.funcao}}</p>
                            <p class="designation"><a href="/sas/public_html/removerUsuario" style="text-decoration: none;color: #000"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                    sair</a></p>

                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link " href="/sas/public_html/">
                                    <!-- <i class="fa fa-dashboard"></i> -->
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link " href="/sas/public_html/agendamento">
                                    <i class="fa fa-calendar fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Agendamento de Salas</span>
                                </a>
                            </li>
                            {% if user.tipo == 1 %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/sas/public_html/controleUsuario">
                                        <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Usuário</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/sas/public_html/controleSala">
                                        <i class="fa fa-building fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Sala</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/sas/public_html/controlePerfil">
                                    <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- SIDEBAR ENDS -->


                    <div class="content-wrapper">
                        <h3 class="text mb-4" style="color: #006c3a" >Agendamento</h3>



                        <div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
                            <center><h4 class="text mb-1" style="color: #000" >Realizar agendamento</h4></center>

                            <form class="col-md-12" id="escolherMes" action="/sas/public_html/realizandoAgendamento" method="POST" enctype="multipart/form-data" >
                                <label for="sala">Sala:</label>
                                <select name='sala' id="sala" class="form-control">
                                    {% for dado in salas %}
                                        <option value="{{dado.idSala}}">{{dado.descricao}}/{{dado.setor}}</option>
                                    {% endfor %}
                                </select>
                                <label for="data" style="padding-top: 15px">Data para o agendamento:</label>
                                <input name="dataC" type="date" class="form-control" id="dataC" />
                                <button type="subimit" class="col-md-12 btn btn-primary" style="margin-top: 20px;color: #fff">Avançar <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </button>
                            </form> 

                        </div>
                        <div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
                            {% if agendamentos != null %}
                                <center><p style="font-size: 15px">Seu(s) agendamento(s)</p></center>
                                <table class=" table table-bordered">
                                    <thead style="background-color: #00262c;color: #FFF">
                                        <tr>
                                            <th><center>Data início</center></th>
                                    <th><center>Para</center></th>
                                    <th><center>Sala/Setor</center></th>

                                    <th><center>Hora Início</center></th>
                                    <th><center>Hora Término</center></th>
                                    <th><center>Ações</center></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for dado in agendamentos %}
                                            <tr>       
                                                <td><center>{{dado.dataInicio | date("d-m-Y")}}</center></td>
                                        <td><center>{{dado.para}}</center></td>
                                        <td><center>{{dado.descricao}}/{{dado.setor}}</center></td>
                                        <td><center>{{dado.horaInicio}}</center></td>
                                        <td><center>{{dado.horaTermino}}</center></td>
                                        <td><center>
                                            <a onclick="confirmacao({{dado.idAgendamento}})" title="Deletar" style="text-decoration: none;color: #ff0000"> 
                                                <button type="button" class="btn btn-danger btn-sm">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar</button></a>
                                        </center></td>



                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <hr>
                                <center>Você ainda não realizou nenhum agendamento!</center>
                                <hr>
                            {% endif %}


                        </div>
                        <div class="row">

                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div id="footer">


                        <footer class="footer">
                            <div class="container-fluid clearfix">
                                <span class="float-right">
                                    <a href="#">UBS Valorem</a> &copy; 2017
                                </span>
                            </div>
                        </footer>
                    </div>
                </div>

            </div>

            <script src="node_modules/jquery/dist/jquery.min.js"></script>
            <script src="node_modules/tether/dist/js/tether.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="node_modules/chart.js/dist/Chart.min.js"></script>
            <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
            <script src="js/off-canvas.js"></script>
            <script src="js/hoverable-collapse.js"></script>
            <script src="js/misc.js"></script>
            <script src="js/chart.js"></script>
            <script src="js/maps.js"></script>
            <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    </body>

</html>
