<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>UBS Valorem - Sistema Integrado</title>
            <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
            <link rel="stylesheet" href="css/style.css"/>
            <link rel="shortcut icon" href="images/logoSmall.png"/>
            <link rel="stylesheet" href="/lib/font/css/font-awesome.min.css">

        {% endblock %}

    </head>
    <body>

        <div class=" container-scroller">
            <!--Navbar-->
            <nav class="navbar bg col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row"  style="background-color: #006c3a" >
                <div class="bg-white text-center navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="/sas/public_html/"><img src="images/logo.jpg" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/sas/public_html/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #006c3a" >
                    <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>

                    <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>
                </div>
            </nav>
            <!--End navbar-->
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-right">
                    <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                        <div class="user-info">
                            <img src="images/user.png" alt="">
                            <p class="name">{{user.nome}}</p>
                            <p class="designation">{{user.funcao}}</p>
                            <p class="designation"><a href="/sas/public_html/removerUsuario" style="text-decoration: none;color: #000"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                    sair</a></p>

                        </div>
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="nav-link " href="/sas/public_html/">
                                    <!-- <i class="fa fa-dashboard"></i> -->
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sas/public_html/agendamento">
                                    <i class="fa fa-calendar fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Agendamento de Salas</span>
                                </a>
                            </li>
                            {% if user.tipo == 1 %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/sas/public_html/controleUsuario">
                                        <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Usuário</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/sas/public_html/controleSala">
                                        <i class="fa fa-building fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Sala</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/sas/public_html/controlePerfil">
                                    <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- SIDEBAR ENDS -->


                    <div class="content-wrapper">
                        <h3 class="text mb-4" style="color: #006c3a" >Dashboard</h3>
                        <div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
                            {% if agenda != null %}
                                <br>
                                <center><p style="font-size: 15px">Próximos Agendamento(s)</p></center>

                                <table class=" table table-bordered">
                                    <thead style="background-color: #00262c;color: #FFF">
                                        <tr>
                                            <th><center>Agendado por:</center></th>
                                    <th><center>Para:</center></th>
                                    <th><center>Sala</center></th>
                                    <th><center>Data</center></th>        
                                    <th><center>Hora Início</center></th>
                                    <th><center>Hora Término</center></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for dado in agenda %}
                                            <tr>       
                                                <td><center>{{dado.nome}}</center></td>
                                        <td><center>{{dado.para}}</center></td>
                                        <td><center>{{dado.descricao}} - {{dado.setor}}</center></td>
                                        <td><center>{{dado.dataInicio | date('d-m-Y')}}</center></td>
                                        <td><center>{{dado.horaInicio}}</center></td>
                                        <td><center>{{dado.horaTermino}}</center></td>


                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <hr>
                                <center>Na data escolhida a sala <b>{{sala.descricao}}</b> que fica no setor <b>{{sala.setor}}</b> está sem nenhum agendamento!</center>
                                <hr>
                            {% endif %}
                            <br>
                            NOVO MÉTODO DE RESUMO DE AGENDAMENTOS
                            <br>
                            {% set control = 0 %}
                            {% if agenda != null %}
                                <br>
                                {% for i in anoAtual..anoUltimo %}
                                    {% for m in 0..12 %}

                                        <center><p style="font-size: 15px">Agendamento(s) do mês de {{m}} de {{i}}</p></center>

                                        <table class=" table table-bordered">
                                            <thead style="background-color: #00262c;color: #FFF">
                                                <tr>
                                                    <th><center>Agendado por:</center></th>
                                            <th><center>Para:</center></th>
                                            <th><center>Sala</center></th>
                                            <th><center>Data</center></th>        
                                            <th><center>Hora Início</center></th>
                                            <th><center>Hora Término</center></th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for dado in agenda %}
                                                    {% if i == (dado.dataInicio | date('Y'))%}
                                                        {% if m == (dado.dataInicio | date('m'))%}
                                                            <tr>       
                                                                <td><center>{{dado.nome}}</center></td>
                                                        <td><center>{{dado.para}}</center></td>
                                                        <td><center>{{dado.descricao}} - {{dado.setor}}</center></td>
                                                        <td><center>{{dado.dataInicio | date('d-m-Y')}}</center></td>
                                                        <td><center>{{dado.horaInicio}}</center></td>
                                                        <td><center>{{dado.horaTermino}}</center></td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}





                                            </tbody>
                                        </table>
                                    {% endfor %}
                                {% endfor %}

                            {% else %}
                                <hr>
                                <center>Na data escolhida a sala <b>{{sala.descricao}}</b> que fica no setor <b>{{sala.setor}}</b> está sem nenhum agendamento!</center>
                                <hr>
                            {% endif %}
                            <br>


                        </div>
                        <div class="row">

                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div id="footer">


                        <footer class="footer">
                            <div class="container-fluid clearfix">
                                <span class="float-right">
                                    <a href="#">UBS Valorem</a> &copy; 2017
                                </span>
                            </div>
                        </footer>
                    </div>
                </div>

            </div>

            <script src="node_modules/jquery/dist/jquery.min.js"></script>
            <script src="node_modules/tether/dist/js/tether.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="node_modules/chart.js/dist/Chart.min.js"></script>
            <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
            <script src="js/off-canvas.js"></script>
            <script src="js/hoverable-collapse.js"></script>
            <script src="js/misc.js"></script>
            <script src="js/chart.js"></script>
            <script src="js/maps.js"></script>
            <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    </body>

</html>
