<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Ultra Visão | Sistema - Erro 404</title>
        <link rel="shortcut icon" href="images/ico/logo01.png"> 
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <script src="../js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script language= "JavaScript">
            setTimeout("document.location = 'sas/public_html//'", 4000);
        </script>



    <body >
        <div class="container">
            <br>
            <br>
            <center>
                <h1 class="text-lg" style="font-size: 80px">ERRO 404</h1></center>
            <center><h3>A página requisitada não existe ou está fora do ar!</h3></center>
            <center><h5>Em 5 segundos você será redirecionado para a página principal!</h5></center>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="../vendor/jquery/jquery.min.js"></script>

        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->

        <!-- Custom scripts for this template -->

    </body>

</html>
