<!DOCTYPE html>
<html lang="pt-br">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>UBS Valorem - Sistema Integrado</title>
            <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
            <link rel="stylesheet" href="css/style.css"/>
            <link rel="shortcut icon" href="images/logoSmall.png"/>
            <link rel="stylesheet" href="/lib/font/css/font-awesome.min.css">

        {% endblock %}

    </head>
    <body>

        <div class=" container-scroller">
            <!--Navbar-->
            <nav class="navbar bg col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row"  style="background-color: #006c3a" >
                <div class="bg-white text-center navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="/sas/public_html/"><img src="images/logo.jpg" /></a>
                    <a class="navbar-brand brand-logo-mini" href="/sas/public_html/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #006c3a" >
                    <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>

                    <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon" style="color: #fff"></span>
                    </button>
                </div>
            </nav>
            <!--End navbar-->
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-right">
                    <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                        <div class="user-info">
                            <img src="images/user.png" alt="">
                            <p class="name">{{user.nome}}</p>
                            <p class="designation">{{user.funcao}}</p>
                            <p class="designation"><a href="/sas/public_html/removerUsuario" style="text-decoration: none;color: #000"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                    sair</a></p>

                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link " href="/sas/public_html/">
                                    <!-- <i class="fa fa-dashboard"></i> -->
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sas/public_html/agendamento">
                                    <i class="fa fa-calendar fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Agendamento de Salas</span>
                                </a>
                            </li>
                            {% if user.tipo == 1 %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/sas/public_html/controleUsuario">
                                        <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Usuário</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/sas/public_html/controleSala">
                                        <i class="fa fa-building fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Controle Sala</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/sas/public_html/controlePerfil">
                                    <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                                    <span class="menu-title">Perfil</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- SIDEBAR ENDS -->


                    <div class="content-wrapper">
                        <h3 class="text mb-4" style="color: #006c3a" >Meu Perfil</h3>
                        <div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
                            <form  id="form"  name="form"  class="form col-12" method="POST" enctype="multipart/form-data" >
                                <div id="aviso"></div>
                                <label for="nomeE">Nome</label>
                                <input name="nomeE" type="text" class="form-control"  id="nomeE"  value="{{dados.nome}}"/>
                                <label for="funcaoE">Função</label>
                                <input name="funcaoE" type="text" class="form-control" id="funcaoE" value="{{dados.funcao}}"/>
                                <label for="emailE">E-mail</label>
                                <input name="emailE" type="text" class="form-control" placeholder="Email.." id="emailE" value="{{dados.email}}"/>
                                <label for="usuarioE">Usuário</label>
                                <input name="usuarioE" type="text" class="form-control" placeholder="Usuário.." id="usuarioE" value="{{dados.usuario}}"/>
                                <label for="senhaE">Senha</label>
                                <input name="senhaE" type="password" class="form-control" placeholder="Senha.." id="senhaE" value="{{dados.senha}}"/>
                                <input name="idE" type="hidden" class="form-control" id="idE" value="{{dados.idUsuario}}"/>

                                <button type="submit" class="col-md-12 btn btn-success" style="margin-top: 20px;">Atualizar Dados</button>
                            </form>      
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">

                        </div>
                    </div>

                    <div class="modal fade" id="sucesso" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Perfil atualizado com sucesso!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <center><a class="btn btn-primary text-center" href="/sas/public_html/">OK</a></center>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="footer">


                        <footer class="footer">
                            <div class="container-fluid clearfix">
                                <span class="float-right">
                                    <a href="#">UBS Valorem</a> &copy; 2017
                                </span>
                            </div>
                        </footer>
                    </div>
                </div>

            </div>

            <script src="node_modules/jquery/dist/jquery.min.js"></script>
            <script src="node_modules/tether/dist/js/tether.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="node_modules/chart.js/dist/Chart.min.js"></script>
            <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
            <script src="js/off-canvas.js"></script>
            <script src="js/hoverable-collapse.js"></script>
            <script src="js/misc.js"></script>
            <script src="js/chart.js"></script>
            <script src="js/maps.js"></script>
            <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
            <script src="js/contolePerfil.js" type="text/javascript"></script>
              <!-- Bootstrap core JavaScript -->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/popper/popper.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="vendor/chart.js/Chart.min.js"></script>
            <script src="vendor/datatables/jquery.dataTables.js"></script>
            <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

            <!-- Custom scripts for this template -->
            <script src="js/sb-admin.min.js"></script>
    </body>

</html>
